@use "./fonts" as f;

.seeMore {
    margin-top: 60px;
}

.seeMore__header {
    font-size: f.$regular;
    font-weight: 700;
    text-align: center;
    display: block;
    margin: auto;
    padding: 15px;
    cursor: pointer;
}

.seeMore__header:hover {
    font-weight: 900;
}

.seeMore__text {
    display: none;
    padding: 20px;
}