@use "./fonts" as f;

.todoList {
    display: block;
    margin: 50px auto;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding: 20px 0 30px 0;
    color: f.$basic-color;
}

.todoList__header {
    text-align: center;
    font-weight: 900;

}

.table__header {
    background-color: chocolate;
    color: white;
}

tbody {
    font-weight: 700;
}

tbody button {
    width: 25px;
}

tbody input {
    width: 25px;
    height: 25px;
}